.cos-virtual{
    margin-bottom: 0.7rem;
    display: flex;
    width: 100%;
}
.cos-virtual>:nth-child(1){
    width:25%;
}
.cos-virtual>:nth-child(1) img{
    width:100%;
}

.cos-virtual>:nth-child(2){
    padding-left:0.5rem;
    width:25%;
}