@keyframes aparitie_meniu {
    0% {
        transform: scaleY(0);
   }
    100% {
        transform: scaleY(1);
   }
}
body {
    --inaltime-meniu: 3rem;
}
nav {
    height: var(--inaltime-meniu);
    width: 100%;
    top: 0;
    padding: 0;
    background: var(--culoare-header);
    z-index: 10;
    position: sticky;
}
nav ul.meniu ul {
    display: none;
    position: absolute;
    width: 100%;
}
nav ul.meniu > li {
    float: left;
    width: 150px;
    position: relative;
}
nav ul.meniu > li:hover > ul {
    display: block;
    animation-name: aparitie_meniu;
    animation-iteration-count: 1;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    transform-origin: 50% 0;
}
nav ul.meniu li {
    text-align: center;
    list-style-type: none;
    background: var(--culoare-header);
    cursor: pointer;
}
nav ul.meniu li a {
    text-decoration: none;
    color: var(--cl-text);
    display: block;
    font-weight: bold;
    height: var(--inaltime-meniu);
    line-height: var(--inaltime-meniu);
    outline: 1px solid black;
}
nav ul.meniu li div {
    text-decoration: none;
    color: var(--cl-text);
    display: block;
    font-weight: bold;
    height: var(--inaltime-meniu);
    line-height: var(--inaltime-meniu);
    outline: 1px solid black;
}
nav ul {
    padding: 0;
    margin: 0;
}
nav li {
    padding: 0;
    margin: 0;
}
ul.meniu a:hover {
    background: var(--cl-marcare);
}
ul.meniu div:hover {
    background: var(--cl-marcare);
}
#hamburger {
    display: none;
    height: var(--inaltime-meniu);
}
#hamburger img {
    height: 100%;
    width: auto;
}
#ch-menu {
    display: none;
}
.clasaprint-meniu {
    position: absolute;
    page-break-after: always;
}
ul.clasaprint-meniu > li > ul {
    display: none;
}
@media (min-width: 700px) {
    nav ul.meniu > li:hover {
        background: radial-gradient(#c3aef2, #fff);
   }
    nav ul.meniu > li li a:before {
        display: inline-block;
        content: "\2192";
        color: white;
        transform: translateX(-100px);
        transition: transform 0.5s ease;
   }
    nav ul.meniu > li li a:hover:before {
        transform: translateX(0px);
   }
    .container_arrow:hover {
        display: block;
   }
}
